.tracker-card {
  margin: 25px 20px;
  border-radius: 15px;
  background-color: var(--pale-blue);
}

/* Card color vars */

.tracker-card.work {
  background-color: var(--light-orange);
}

.tracker-card.play {
  background-color: var(--soft-blue);
}

.tracker-card.study {
  background-color: var(--light-red);
}

.tracker-card.exercise {
  background-color: var(--lime-green);
}

.tracker-card.social {
  background-color: var(--violet);
}

.tracker-card.selfcare {
  background-color: var(--yellow);
}

.tracker-card h2 {
  font-weight: 400;
  font-size: 18px;
}

/*  */

.tracker-infos {
  background-color: var(--dark-blue);
  border-radius: 15px;
  font-size: 16px;
  padding: 30px 0px;
  display: flex;
  justify-content: space-around;
}

.tracker-hours {
  margin-top: 10px;
  font-size: 32px;
  line-height: 25px;
}

.tracker-infos__blue {
  color: var(--pale-blue);
  text-align: end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dot-cta {
  font-size: 40px;
  line-height: 0;
}

.background {
  height: 40px;
  border-radius: 15px 15px 0px 0px;
  background-color: transparent;
  background-image: url(../../assets/images/icon-play.svg);
  background-repeat: no-repeat;
  background-position: right 20px top -5px;
}

/* Card img vars */

.background.work {
  background-image: url(../../assets/images/icon-work.svg);
}

.background.play {
  background-image: url(../../assets/images/icon-play.svg);
}

.background.study {
  background-image: url(../../assets/images/icon-study.svg);
}

.background.exercise {
  background-image: url(../../assets/images/icon-exercise.svg);
}

.background.social {
  background-image: url(../../assets/images/icon-social.svg);
}

.background.selfcare {
  background-image: url(../../assets/images/icon-self-care.svg);
}
