.tracker-card {
  margin: 15px 20px;
  border-radius: 15px;
  background-color: var(--pale-blue);
}

/* Card color vars */

.tracker-card.work {
  background-color: var(--light-orange);
}

.tracker-card.play {
  background-color: var(--soft-blue);
}

.tracker-card.study {
  background-color: var(--light-red);
}

.tracker-card.exercise {
  background-color: var(--lime-green);
}

.tracker-card.social {
  background-color: var(--violet);
}

.tracker-card.selfcare {
  background-color: var(--yellow);
}

.tracker-card h2 {
  font-weight: 400;
  font-size: 18px;
}

/*  */

.tracker-infos {
  background-color: var(--dark-blue);
  border-radius: 15px;
  font-size: 16px;
  padding: 30px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  flex-wrap: wrap;
}

.tracker-infos:hover {
  background-color: var(--hover-blue);
}

.tracker-infos:has(.dot-cta:hover) {
  background-color: var(--dark-blue);
}

.tracker-hours {
  margin-top: 10px;
  font-size: 32px;
  line-height: 25px;
}

.tracker-infos p {
  color: var(--pale-blue);
}

.tracker-infos__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tracker-infos__column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.dot-cta {
  font-size: 25px;
  line-height: 0;
}

.dot-cta:hover {
  color: white;
}

.background {
  height: 40px;
  border-radius: 15px 15px 0px 0px;
  background-color: transparent;
  background-image: url(../../assets/images/icon-play.svg);
  background-repeat: no-repeat;
  background-position: right 20px top -10px;
}

/* Card img vars */

.background.work {
  background-image: url(../../assets/images/icon-work.svg);
}

.background.play {
  background-image: url(../../assets/images/icon-play.svg);
}

.background.study {
  background-image: url(../../assets/images/icon-study.svg);
}

.background.exercise {
  background-image: url(../../assets/images/icon-exercise.svg);
}

.background.social {
  background-image: url(../../assets/images/icon-social.svg);
}

.background.selfcare {
  background-image: url(../../assets/images/icon-self-care.svg);
}

@media screen and (min-width: 767px) {
  .tracker-infos {
    width: 230px;
    height: 180px;
    gap: 20px;
  }

  .tracker-infos__column {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: start;
  }

  .tracker-card {
    /* Trouver autre chose !!! */
    height: 200px;
    margin: 15px 15px;
  }
}
