.container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 767px) {
  .container {
    flex-direction: row;
    margin: 0px auto;
    width: 80vw;
    justify-content: center;
  }
}
